<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mensaje</title>
</head>
<body>
    <h1>Sistema de mensajes</h1>
    
    {% if mensaje %}
        <h2>{{mensaje}}</h2>
    {% endif %}
        
    <form method="post">
        {% csrf_token %}
        <input type="text" name="nombre">
        <button type="submit">Enviar</button>
    </form>
</body>
</html>